<h6 class="head-6 product-info__title">
    Be Mine
</h6>

<p class="small-text product-info__des">
    Black round box of 15 red roses height-Diameter 18cm.
</p>

<form action="" class="form">
    <div class="form__group">
        <label for="ballon" class="form__label">Ballon</label>

        <select id="ballon" class="form__dropdown">
            <option>None</option>
        </select>

    </div>

    <div class="form__group">
        <label for="ballon" class="form__label">Chocolate</label>

        <select id="ballon" class="form__dropdown">
            <option>None</option>
        </select>

    </div>
</form>

<div class="product-info__delivery">
    <strong class="product-info__delivery-title">Choose Delivery Day </strong>
    <p class="product-info__delivery-info">
        We will consider specific hour(s) delivery request but it depends on external factors (e.g. Traffic)
    </p>
    <form action="" class="form">
        <div class="form__group">
            <div class="form__checkbox">
                <input type="radio" id="filters-type" class="form__checkbox-input" name="date" checked>
                <label for="filters-type" class="form__checkbox-label">
                    <span class="form__checkbox-btn form__checkbox-btn--radio"></span>
                    Same Day Delivery ( Last order at 5 PM )
                </label>
            </div>
        </div>
        <div class="form__group">
            <div class="form__checkbox">
                <input type="radio" id="filters-type2" class="form__checkbox-input" name="date">
                <label for="filters-type2" class="form__checkbox-label">
                    <span class="form__checkbox-btn form__checkbox-btn--radio"></span>
                    Choose Date
                </label>
            </div>
        </div>

        <div class="form__group opacity">
            <input type="text" placeholder="Feb 16, 2020 " class="form__input">
            <span class="form__input--date">
                <svg class="form__input--date-icon">
                    <use xlink:href="/assets/images/sprite.svg#icon-calendar"></use>
                </svg>
            </span>
        </div>

    </form>

</div>

<div class="product-info__total">
    Total <span> 320EGP</span>
</div>
<div class="btns">
    <a href="" class="btn btn__icon btn__icon--black">
        <span class="btn__icon-box">
            <svg class="btn__icon-box-icon">
                <use xlink:href="/assets/images/sprite.svg#icon-shopping-cart"></use>
            </svg>
        </span>
        <span class="btn__icon-text"> Add To Cart</span>
    </a>

    <a href="" class="btn btn__icon btn__icon--gray">
        <span class="btn__icon-box">
            <svg class="btn__icon-box-icon">
                <use xlink:href="/assets/images/sprite.svg#icon-heart-outline"></use>
            </svg></span>
        <span class="btn__icon-text"> Add To favorite</span>

    </a>
</div>
<p class="small-text center-text product-info__note">
    Shipping RESTRICTIONS AND DUTIES MAY APPLY
</p>

<div class="product-info__footer">
    <div class="product-info__footer__box">
        <span class="product-info__footer__box-title">Product Code</span>
        <strong class="product-info__footer__box-text">DCF342</strong>
    </div>

    <a routerLink="/flowers" class="product-info__footer__box">
        <span class="product-info__footer__box-title">View More</span>
        <strong class="product-info__footer__box-text">Category Name</strong>
    </a>

    <a routerLink="/flowers" class="product-info__footer__box">
        <span class="product-info__footer__box-title">Contact Us</span>
        <strong class="product-info__footer__box-text">Customer Service</strong>
    </a>

</div>