
    <!--------------------------------------------Page Title-->
        <div class="inner-header__title">
            <h1 class="head-1">Page Title</h1>
        </div>
        <!--------------------------------------------Breadcrumb-->
        <div class="inner-header__breadcrumb">
            <ul class="inner-header__breadcrumb__list">
                <li class="inner-header__breadcrumb__item">
                    <a href="#" class="inner-header__breadcrumb__link">Home</a>
                </li>
                <li class="inner-header__breadcrumb__item">
                    <a href="#" class="inner-header__breadcrumb__link">category</a>
                </li>
                <li class="inner-header__breadcrumb__item">
                    <a class="inner-header__breadcrumb__link active">flower type</a>
                </li>
            </ul>
        </div>
        <!-- <div class="inner-header__search">
            <form action="" class="form">
                <div class="form__group">
                    <input type="text" placeholder="What are you looking for?" id="search-input"
                        class="form__input">
                    <label for="search-input" class="form__label">What are you looking for?</label>
                </div>
            </form>

            <svg class="inner-header__search__icon">
                <use xlink:href="/assets/images/sprite.svg#icon-search"></use>
            </svg>
        </div> -->

