<!------------------------------------------------Grid Layout Start-->
<div class="container">
  <!------------------------------------------------SLIDER START-->
  <div class="hero-image">
    <img
      srcset="
        /assets/images/main-banner-1x.jpg 1x,
        /assets/images/main-banner-2x.jpg 2x
      "
      alt="main banner"
      class="hero-image__img"
    />
    <h1 class="head-1 hero-image__head">
      Flower Best Sellers
    </h1>
    <p class="text-primary hero-image__text">
      Exclusive collection 2019 is ready! Hurry up
      <br />
      and place your order for availability.
    </p>
    <a href="#" class="btn btn--primary hero-image__btn">
      Shop now
    </a>
    <div class="hero-image__go-down">
      <a>
        <svg>
          <use
            xlink:href="/assets/images/sprite.svg#icon-keyboard_arrow_down"
          ></use>
        </svg>
      </a>
    </div>
  </div>

  <!------------------------------------------------quick Access ON categories Boxs Section-->
  <div class="quick-categories">
    <h1 class="head-1 quick-categories__head-1">
      Need Some Help?
    </h1>
    <p class="text-primary quick-categories__description">
      Let's be honest, with today's busy schedules, going out and shopping for
      flowers can be a headache. sending flowers and bouquets to your those you
      love is easier than ever with online ordering and delivery through
      <strong>Charm Flowers</strong>
    </p>

    <div class="quick-categories__boxs">
      <div class="quick-categories__box">
        <img
          src="/assets/images/SVG/wedding-rings.svg"
          alt="Category Name"
          class="quick-categories__box__icon"
        />
        <a href="" class="quick-categories__box__title">Bridal Flowers</a>
        <a href="" class="btn btn--primary">Shop Now</a>
      </div>
      <div class="quick-categories__box">
        <img
          src="/assets/images/SVG/gift.svg"
          alt="Category Name"
          class="quick-categories__box__icon"
        />
        <a href="" class="quick-categories__box__title">Bridal Flowers</a>
        <a href="" class="btn btn--primary">Shop Now</a>
      </div>
      <div class="quick-categories__box">
        <img
          src="/assets/images/SVG/bouquet.svg"
          alt="Category Name"
          class="quick-categories__box__icon"
        />
        <a href="" class="quick-categories__box__title">Bridal Flowers</a>
        <a href="" class="btn btn--primary">Shop Now</a>
      </div>
      <div class="quick-categories__box">
        <img
          src="/assets/images/SVG/clap.svg"
          alt="Category Name"
          class="quick-categories__box__icon"
        />
        <a href="" class="quick-categories__box__title">Bridal Flowers</a>
        <a href="" class="btn btn--primary">Shop Now</a>
      </div>
    </div>
  </div>

  <!------------------------------------------------NEW ARRIVALS-->
  <div class="features">
    <h1 class="head-2 features__head-2">
      New Arrivals
    </h1>
    <p class="text-primary features__description">
      Do you want to say thank you, special or i love you to someone? A flower
      bouquet is the best way to do this.
    </p>
    <!-------------- P P R O D U C T S  C A R D S ------------------>
    <div class="products">
      <!-------------- C A R D ------------------>
      <app-product-card class="products__card"></app-product-card>

      <!-------------- C A R D ------------------>
      <app-product-card class="products__card"></app-product-card>

      <!-------------- C A R D ------------------>
      <app-product-card class="products__card"></app-product-card>

      <!-------------- C A R D ------------------>
      <app-product-card class="products__card"></app-product-card>

      <!-------------- C A R D ------------------>
      <app-product-card class="products__card"></app-product-card>

      <!-------------- C A R D ------------------>
      <app-product-card class="products__card"></app-product-card>
    </div>

    <a href="" class="btn btn--black features__btn">Shop All</a>
  </div>

  <!------------------------------------------------REVIEW SECTION-->
  <div class="review">
    <!------------------------------------------------BG VIDEO-->
    <div class="bg-video">
      <video class="bg-video__content" autoplay muted loop>
        <source src="/assets/images/Tulips_are_Here.mp4" type="video/mp4" />
        <source src="/assets/images/Tulips_are_Here.webm" type="video/webm" />
        Your Browser is Not Supported!
      </video>
    </div>

    <h1 class="head-1 head-1--white review__head-1">
      Evaluate our flowers
    </h1>
    <div class="review__icon">
      <svg>
        <use xlink:href="/assets/images/sprite.svg#icon-happy"></use>
      </svg>
      <svg>
        <use xlink:href="/assets/images/sprite.svg#icon-fine"></use>
      </svg>
      <svg>
        <use xlink:href="/assets/images/sprite.svg#icon-angry"></use>
      </svg>
    </div>
    <p class="text-primary text-primary--white review__text">
      With a credible <strong>Charm Flowers</strong> outfit, you will never get
      frustrated by late deliveries or getting the wrong orders. The best flower
      shop comes with encouraging reviews from satisfied clients. Always choose
      the online flower shop that keeps the time where delivery is concerned.
      Don’t choose an online florist that has been flagged for late delivery or
      swindling customers.
    </p>
    <a href="#" class="btn btn--primary review__btn"
      >leave review
      <svg>
        <use xlink:href="/assets/images/sprite.svg#icon-send"></use>
      </svg>
    </a>
  </div>

  <!------------------------------------------------CURSOR-->
  <app-cursor class="cursor"></app-cursor>
</div>
