<div class="zoom-slider__big-image">
  <img
    alt="placeholder image"
    src="/assets/images/flower1.jpg"
    class="zoom-slider__big-image__image"
  />
</div>

<div class="zoom-slider-images">
  <a class="zoom-slider-images__prev">
    <svg>
      <use xlink:href="/assets/images/sprite.svg#icon-next"></use>
    </svg>
  </a>
  <img
    src="/assets/images/flower1.jpg"
    alt=""
    class="zoom-slider-images__img active"
  />
  <img
    src="/assets/images/flower1.jpg"
    alt=""
    class="zoom-slider-images__img"
  />
  <a class="zoom-slider-images__next">
    <svg>
      <use xlink:href="/assets/images/sprite.svg#icon-next"></use>
    </svg>
  </a>
</div>
