<h6 class="head-6">Filter By</h6>
<!------------------------------------------------ACCORDION START-->
<div class="tabs">
    <!------------------------------------------------Color Tab-->
    <div class="tabs__tab">
        <input type="checkbox" checked class="tabs__checkbox" id="color">
        <label class="tabs__title" for="color">Color</label>
        <div class="tabs__content">
            <div class="products-filter__colors">
                <div class="products-filter__color">
                    <input type="checkbox" class="products-filter__color__checkbox" id="Red">
                    <label class="products-filter__color__bg tooltip" 
                    aria-label="Red"
                    style="background-color: red;" for="Red"></label>
                </div>
                <div class="products-filter__color">
                    <input type="checkbox" class="products-filter__color__checkbox" id="Pink">
                    <label class="products-filter__color__bg tooltip" 
                    aria-label="Pink" style="background-color: #FFC0CB;"
                        for="Pink"></label>
                </div>
                <div class="products-filter__color">
                    <input type="checkbox" class="products-filter__color__checkbox" id="White">
                    <label class="products-filter__color__bg tooltip" 
                    aria-label="White" style="background-color: white;"
                        for="White"></label>
                </div>
                <div class="products-filter__color">
                    <input type="checkbox" class="products-filter__color__checkbox" id="Rose">
                    <label class="products-filter__color__bg tooltip" 
                    aria-label="Rose" style="background-color: #ff007f;"
                        for="Rose"></label>
                </div>
                <div class="products-filter__color">
                    <input type="checkbox" class="products-filter__color__checkbox" id="Purple">
                    <label class="products-filter__color__bg tooltip" 
                    aria-label="Purple" style="background-color: #9400D3;"
                        for="Purple"></label>
                </div>
                <div class="products-filter__color">
                    <input type="checkbox" class="products-filter__color__checkbox" id="Yellow">
                    <label class="products-filter__color__bg tooltip" 
                    aria-label="Yellow" style="background-color: yellow;"
                        for="Yellow"></label>
                </div>

            </div>

        </div>
    </div>
    <!------------------------------------------------Flower Tab-->
    <div class="tabs__tab">
        <input type="checkbox" checked class="tabs__checkbox" id="Flower">
        <label class="tabs__title" for="Flower">Flower</label>
        <div class="tabs__content">
            <div class="products-filter__filters">
                <form action="" class="form">
                    <div class="form__group">
                        <div class="form__checkbox">
                            <input type="checkbox" id="filters-type" 
                            class="form__checkbox-input">
                        <label for="filters-type" class="form__checkbox-label">
                            <span class="form__checkbox-btn"></span>
                            gerbera
                        </label>
                    </div>
                    </div>
                    <div class="form__group">
                        <div class="form__checkbox">
                        <input type="checkbox" id="filters-type2"
                            class="form__checkbox-input">
                        <label for="filters-type2" class="form__checkbox-label">
                            <span class="form__checkbox-btn"></span>
                            Rose
                        </label>
                        </div>
                    </div>
                
                </form>
            </div>
        </div>
    </div>
    <!------------------------------------------------Categories Tab-->
    <div class="tabs__tab">
        <input type="checkbox" checked class="tabs__checkbox" id="Category">
        <label class="tabs__title" for="Category">Category</label>
        <div class="tabs__content">
            <form action="" class="form">
                <div class="form__group">
                    <div class="form__checkbox">
                        <input type="checkbox" id="filters-type" 
                        class="form__checkbox-input">
                    <label for="filters-type" class="form__checkbox-label">
                        <span class="form__checkbox-btn"></span>
                        gerbera
                    </label>
                </div>
                </div>
                <div class="form__group">
                    <div class="form__checkbox">
                    <input type="checkbox" id="filters-type2"
                        class="form__checkbox-input">
                    <label for="filters-type2" class="form__checkbox-label">
                        <span class="form__checkbox-btn"></span>
                        Rose
                    </label>
                    </div>
                </div>
            
            </form>
        </div>
    </div>
</div>
<!------------------------------------------------Responsive Filter-->

<a class="products-filter__responsive-link" title="Filter">
    <svg>
        <use xlink:href="/assets/images/sprite.svg#icon-settings"></use>
    </svg>
</a>