//--------------------------------------COLORS
$color-primary: #f31b66;
$color-primary-light: #f14d86;

$color-sec: #005e20;
$color_sec-light: #067a2e;

$color-gray: #757575;
$color-gray-light: #c2c2c2;
$color-gray-lighter: #e2e2e2;

$color-gray-dark: #33333a;

$color-dark: #22232b;

$white: #fff;
$off-white: #f7f7f7;
$black: #000;

//--------------------------------------FONTS
$font:'Lato','sans-serif';


//--------------------------------------BOX SHADOW
$shadow: 0 0.3rem 0.6rem rgba($black, 15%)
