<div class="container">
  <!------------------------------------------------SHOP INFO AND ICONS-->
  <div class="shop-info">
    <div class="shop-info__delivery">
      <svg>
        <use xlink:href="/assets/images/sprite.svg#icon-delivery"></use>
      </svg>
      Same Day Delivery
    </div>
    <div class="shop-info__shipped">
      <svg>
        <use xlink:href="/assets/images/sprite.svg#icon-shipped"></use>
      </svg>
      We Ship Inside Cairo & Giza
    </div>
    <div class="shop-info__payment">
      <div class="shop-info__payment__icons">
        <svg>
          <use xlink:href="/assets/images/sprite.svg#icon-visa"></use>
        </svg>
        <svg>
          <use xlink:href="/assets/images/sprite.svg#icon-mastercard"></use>
        </svg>
      </div>
      We Accept Payment in Visa & MasterCard
    </div>
  </div>

  <!------------------------------------------------MAIN CONTACT-->

  <div class="main-contact">
    <!------------------------------------------------Contact Info (Left Side)-->
    <div class="main-contact__info">
      <a href="#" class="btn btn--white main-contact__info__btn">Call Us</a>

      <h1 class="head-4 head-4--white main-contact__info__phone">
        010 1576 9398
      </h1>
      <div class="main-contact__info__time">
        <svg>
          <use xlink:href="/assets/images/sprite.svg#icon-clock"></use>
        </svg>
        <p>
          7 Days | 8:00 AM To 5 PM
        </p>
      </div>
      <div class="main-contact__info__location">
        <svg>
          <use xlink:href="/assets/images/sprite.svg#icon-pin"></use>
        </svg>
        <p>
          32 Mohi Helmy ST, Maadi, Cairo, Egypt
        </p>
      </div>
      <div class="main-contact__info__social">
        <svg>
          <use xlink:href="/assets/images/sprite.svg#icon-fb"></use>
        </svg>
        <svg>
          <use xlink:href="/assets/images/sprite.svg#icon-twiter"></use>
        </svg>
        <svg>
          <use xlink:href="/assets/images/sprite.svg#icon-insta"></use>
        </svg>
      </div>
    </div>
    <!------------------------------------------------Contact Image (Right Side)-->
    <img
      src="/assets/images/contact.jpg"
      alt="Contact Us, Charm Flowers"
      class="main-contact__image"
    />
  </div>

  <!------------------------------------------------FOOTER-->
  <div class="footer">
    <!---------------------------------------footer Information (footer left side)-->
    <div class="footer__about">
      <img src="/assets/images/small-logo.png" />
      <h4 class="head-4">How to choose flowers online</h4>
      <p class="text-small">
        Step 1: Take a look at our flower arrangements and choose which ones you
        like.
      </p>
      <p class="text-small">
        Step 2: Type in the recipients’ details so we know where to deliver it.
      </p>
      <p class="text-small">
        Step 3: Pay online via our secure payment gateway.Choose from our
        beautiful flower bouquets now!
      </p>
    </div>
    <!------------------------------------------------FOOTER LINKS-->
    <div class="footer__links">
      <h5 class="head-5 footer__links__head">
        Useful Links
      </h5>
      <ul class="footer__links__nav footer__links__nav--1">
        <li><a href="#">About</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <ul class="footer__links__nav footer__links__nav--2">
        <li><a href="#">About</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <!------------------------------------------------FOOTER Instagram (footer right side)-->
    <div class="footer__insta">
      <h5 class="head-5">
        Follow Us On Instagram
      </h5>
      <div class="footer__insta__images">
        <img
          src="/assets/images/insta-1.jpg"
          alt="Charm Flowers on Instagram"
        />
        <img
          src="/assets/images/insta-2.jpg"
          alt="Charm Flowers on Instagram"
        />
        <img
          src="/assets/images/insta-3.jpg"
          alt="Charm Flowers on Instagram"
        />
        <img
          src="/assets/images/insta-4.jpg"
          alt="Charm Flowers on Instagram"
        />
        <img
          src="/assets/images/insta-5.jpg"
          alt="Charm Flowers on Instagram"
        />
        <img
          src="/assets/images/insta-6.jpg"
          alt="Charm Flowers on Instagram"
        />
      </div>
    </div>
  </div>

  <!------------------------------------------------copyright-->
  <div class="copyright">
    <p class="text-small center-text">
      © 2020, <span> Charm Flowers</span>. All rights reserved
    </p>
  </div>
</div>
