.products {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 4rem;
  margin-top: 3rem;
  align-items: center;

  &__card {
    box-shadow: 0 0.3rem 0.6rem rgba($black, 15%);
    display: grid;
    grid-template-rows: max-content repeat(4, max-content);
    grid-template-columns: 3fr 1fr;
    padding: 1.5rem 1.5rem 2rem;

    &__img {
      display: block;
      grid-column: 1 / -1;
      width: 100%;
      object-fit: cover;
    }

    &__rating {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      font-size: 1.4rem;
      padding: 1rem 0  0;
      svg {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 0.5rem;
        display: inline-block;
      }
    }

    &__price {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      text-align: right;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 1rem 0  0;
    }

    &__title {
      grid-row: 3 / 4;
      grid-column: 1 / -1;
      margin: 1rem 0 0.5rem;
      a{
        color: inherit;
      }
      
    }

    &__description {
      grid-row: 4 / 5;
      grid-column: 1 / -1;
      color: $color-gray;
      margin-bottom: 1.5rem;
      font-size: 1.4rem;
      a{
        color: inherit;
      }
    }

    &__btn-cart {
      grid-row: 5 / 6;
      grid-column: 1 / 2;

      padding: 1rem 0;
      @include center-el;

      svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: $white;
      }
    }

    &__btn-favorit {
      grid-row: 5 / 6;
      grid-column: 2 / 3;
      justify-self: end;
      align-self: center;

      svg {
        width: 2rem;
        height: 1.7rem;
      }
    }
  }
}
