<div class="search-popup" id="search-popup">
    <a href="#search" class="search-popup__close"></a>
    
        <form action="" class="form">
            <div class="form__group">
                <input type="text" placeholder="What are you looking for?" id="search-input"
                    class="search-popup__input">
                <label for="search-input" class="search-popup__label">What are you looking for?</label>
                <svg class="search-popup__icon">
                    <use xlink:href="/assets/images/sprite.svg#icon-search"></use>
                </svg>
            </div>
        </form>

      
   
</div>
