<div class="container">
  <!------------------------------------------------TITLE & SEARCH & BREADCRUMB-->
  <app-inner-header class="inner-header"></app-inner-header>
 <!------------------------------------------------BUTTON BUY NOW-->
  <div class="section-cart">
    <div class="btns section-cart__btns">
      <a routerLink="/checkout" class="btn btn__icon btn__icon--black">
        <span class="btn__icon-box">
          <svg class="btn__icon-box-icon">
            <use xlink:href="/assets/images/sprite.svg#icon-buy"></use>
          </svg>
        </span>
        <span class="btn__icon-text"> Buy Now</span>
      </a>
    </div>
 <!------------------------------------------------CART ITEMS-->

  <!-----------cart items header-->
    <div class="section-cart__items-grid section-cart__items-grid--header">
      <div class="section-cart__items-grid__item">Item</div>
      <div class="section-cart__items-grid__des">DESCRIPTION</div>
      <div class="section-cart__items-grid__color">Color</div>
      <div class="section-cart__items-grid__size">Size</div>
      <div class="section-cart__items-grid__quantity">quantity</div>
      <div class="section-cart__items-grid__unit-price">Unit price</div>
    </div>
 <!-----------cart items body-->
    <div class="section-cart__items-grid section-cart__items-grid--body">

         <!-----------Image-->
      <div class="section-cart__items-grid__item">
        <img src="/assets/images/flower1.jpg" class="section-cart__items-grid__item-img" alt="" />
      </div>
        <!-----------DESCRIPTION-->
      <div class="section-cart__items-grid__des">
        <a class="head-4">Product Name</a>
        <a class="text-primary">
          Max Bill Chronoscope 40mm Stainless Steel and Leather Watch
        </a>
      </div>
      <!-----------Color-->
      <div class="section-cart__items-grid__color">
        Red
      </div>
      <!-----------Size-->
      <div class="section-cart__items-grid__size">
        Meduim
      </div>
      <!-----------Quantity-->
      <div class="section-cart__items-grid__quantity">
          <div class="section-cart__items-grid__quantity__btns">
        <a href="#" class="section-cart__items-grid__quantity__btns--min opacity"></a>
        <input type="text" value="1" class="section-cart__items-grid__quantity__input">
        <a  href="#" class="section-cart__items-grid__quantity__btns--plus"></a>
    </div>
      </div>
<!-----------Price-->
      <div class="section-cart__items-grid__unit-price">
        200.00EGP
      </div>
    
    </div>
     <!-----------cart items Footer Buttons-->
    <div class="section-cart__items-grid__footer btns">
        <a class="btn btn--default">
            <svg>
                <use xlink:href="/assets/images/sprite.svg#icon-heart-outline"></use>
            </svg>
            Move to Favorite</a>
        <a class="btn btn--default">
            <b class="btn__delete-icon">x</b>
             Remove this item
            </a>
      </div>


       <!-----------cart items body-->
    <div class="section-cart__items-grid section-cart__items-grid--body">

        <!-----------Image-->
     <div class="section-cart__items-grid__item">
       <img src="/assets/images/flower1.jpg" class="section-cart__items-grid__item-img" alt="" />
     </div>
       <!-----------DESCRIPTION-->
     <div class="section-cart__items-grid__des">
       <a class="head-4">Product Name</a>
       <a class="text-primary">
         Max Bill Chronoscope 40mm Stainless Steel and Leather Watch
       </a>
     </div>
     <!-----------Color-->
     <div class="section-cart__items-grid__color">
       Red
     </div>
     <!-----------Size-->
     <div class="section-cart__items-grid__size">
       Meduim
     </div>
     <!-----------Quantity-->
     <div class="section-cart__items-grid__quantity">
         <div class="section-cart__items-grid__quantity__btns">
       <a href="#" class="section-cart__items-grid__quantity__btns--min opacity"></a>
       <input type="text" value="1" class="section-cart__items-grid__quantity__input">
       <a  href="#" class="section-cart__items-grid__quantity__btns--plus"></a>
   </div>
     </div>
<!-----------Price-->
     <div class="section-cart__items-grid__unit-price">
       200.00EGP
     </div>
   
   </div>
    <!-----------cart items Footer Buttons-->
   <div class="section-cart__items-grid__footer btns">
       <a class="btn btn--default">
           <svg>
               <use xlink:href="/assets/images/sprite.svg#icon-heart-outline"></use>
           </svg>
           Move to Favorite</a>
       <a class="btn btn--default">
           <b class="btn__delete-icon">x</b>
            Remove this item
           </a>
     </div>

       <!-------------------------------------Total Price-->
    <div class="section-cart__prices">
        <div class="product-info__total">
            Total <span> 320EGP</span>
        </div>
    </div>


   <!------------------------------------------------BUTTON BUY NOW-->
    <div class="btns section-cart__btns">
      <a routerLink="/checkout" class="btn btn__icon btn__icon--black">
        <span class="btn__icon-box">
          <svg class="btn__icon-box-icon">
            <use xlink:href="/assets/images/sprite.svg#icon-buy"></use>
          </svg>
        </span>
        <span class="btn__icon-text"> Buy Now</span>
      </a>
    </div>
  </div>
</div>
