   <!-------------- C A R D ------------------>

    <img src="/assets/images/flower1.jpg" alt="Product Image" class="products__card__img">
    <div class="products__card__rating">
        <svg>
            <use xlink:href="/assets/images/sprite.svg#icon-rate-star"></use>
        </svg>
        72</div>
    <div class="products__card__price">EGP200.00</div>
    <h4 class="head-4 products__card__title">
        <a routerLink="/flower/4">Attribute Variation</a>
        </h4>
    <div class="products__card__description">
        <a routerLink="/flower/4">
        Chicken, tommato, green sala….
    </a>
    
    </div>

    <a href="#" class="btn btn--primary products__card__btn-cart">
        <svg>
            <use xlink:href="/assets/images/sprite.svg#icon-shopping-cart"></use>
        </svg>
        Add to cart
    </a>
    <a href="#" class="products__card__btn-favorit">
        <svg>
            <use xlink:href="/assets/images/sprite.svg#icon-heart-outline"></use>
        </svg>
    </a>
