<!------------------------------------------------Notification panel-->
<div class="notification-msg">
    <p class="text-small text-small--white center-text">
        Free shipping for orders above 1000 EGP
    </p>
</div>


<!------------------------------------------------------------------HEADER START-->
<div class="header">
    <div class="header__container">
        <!----------------------------------------------------------------------------LOGO-->
        <a routerLink="/" class="header__logo">
            <img src="/assets/images/small-logo.png" class="header__logo-image" alt="Charm Flowers" />
        </a>

        <!------------------------------------------------NAVIGATION-->
        <nav class="navigation header__navigation">
            <ul class="navigation__list">
                <li class="navigation__item"> <a href="#" class="navigation__link active" title="New Arrivals">New
                        Arrivals</a>
                </li>
                <li class="navigation__item"> <a href="#" class="navigation__link" title="Categories">Categories
                        <svg>
                            <use xlink:href="/assets/images/sprite.svg#icon-keyboard_arrow_down"></use>
                        </svg>
                    </a>
                    <!------------------------------------------------DROP DOWN MENU-->
                    <nav class="navigation__sub-nav">
                        <ul class="navigation__sub-list">
                            <li class="navigation__sub-item">
                                <a routerLink="/flowers" class="navigation__sub-link" title="">Birthday</a>
                            </li>
                            <li class="navigation__sub-item">
                                <a routerLink="/flowers" class="navigation__sub-link" title="">Bridal bouquet</a>
                            </li>
                            <li class="navigation__sub-item">
                                <a routerLink="/flowers" class="navigation__sub-link" title="">Congratulation</a>
                            </li>
                            <li class="navigation__sub-item">
                                <a routerLink="/flowers" class="navigation__sub-link" title="">Vase</a>
                            </li>
                            <li class="navigation__sub-item">
                                <a routerLink="/flowers" class="navigation__sub-link" title="">Birthday</a>
                            </li>
                            <li class="navigation__sub-item">
                                <a routerLink="/flowers" class="navigation__sub-link" title="">Bridal bouquet</a>
                            </li>
                            <li class="navigation__sub-item">
                                <a routerLink="/flowers" class="navigation__sub-link" title="">Congratulation</a>
                            </li>
                            <li class="navigation__sub-item">
                                <a routerLink="/flowers" class="navigation__sub-link" title="">Vase</a>
                            </li>

                        </ul>
                    </nav>
                </li>
                <li class="navigation__item"> <a href="#" class="navigation__link" title="Flowers">Flowers
                        <svg>
                            <use xlink:href="/assets/images/sprite.svg#icon-keyboard_arrow_down"></use>
                        </svg>
                    </a>
                    <!------------------------------------------------DROP DOWN MENU-->
                    <nav class="navigation__sub-nav">
                        <ul class="navigation__sub-list">
                            <li class="navigation__sub-item">
                                <a href="#" class="navigation__sub-link" title="">
                                    <svg class="navigation__sub-link__icon">
                                        <use xlink:href="/assets/images/sprite.svg#icon-all"></use>
                                    </svg>
                                    All Flowers
                                </a>
                            </li>
                            <li class="navigation__sub-item">
                                <a href="#" class="navigation__sub-link" title="">
                                    <svg class="navigation__sub-link__icon">
                                        <use xlink:href="/assets/images/sprite.svg#icon-cabbage"></use>
                                    </svg>
                                    cabbage
                                </a>
                            </li>
                            <li class="navigation__sub-item">
                                <a href="#" class="navigation__sub-link" title="">
                                    <svg class="navigation__sub-link__icon">
                                        <use xlink:href="/assets/images/sprite.svg#icon-chrysanthemums"></use>
                                    </svg>
                                    chrysanthemums
                                </a>
                            </li>
                            <li class="navigation__sub-item">
                                <a href="#" class="navigation__sub-link" title="">
                                    <svg class="navigation__sub-link__icon">
                                        <use xlink:href="/assets/images/sprite.svg#icon-gerbera"></use>
                                    </svg>
                                    gerbera
                                </a>
                            </li>
                            <li class="navigation__sub-item">
                                <a href="#" class="navigation__sub-link" title="">
                                    <svg class="navigation__sub-link__icon">
                                        <use xlink:href="/assets/images/sprite.svg#icon-lilies"></use>
                                    </svg>
                                    lilies
                                </a>
                            </li>
                            <li class="navigation__sub-item">
                                <a href="#" class="navigation__sub-link" title="">
                                    <svg class="navigation__sub-link__icon">
                                        <use xlink:href="/assets/images/sprite.svg#icon-orchid"></use>
                                    </svg>
                                    orchid
                                </a>
                            </li>
                            <li class="navigation__sub-item">
                                <a href="#" class="navigation__sub-link" title="">
                                    <svg class="navigation__sub-link__icon">
                                        <use xlink:href="/assets/images/sprite.svg#icon-rose"></use>
                                    </svg>
                                    Rose
                                </a>
                            </li>
                            <li class="navigation__sub-item">
                                <a href="#" class="navigation__sub-link" title="">
                                    <svg class="navigation__sub-link__icon">
                                        <use xlink:href="/assets/images/sprite.svg#icon-spider"></use>
                                    </svg>
                                    spider
                                </a>
                            </li>
                            <li class="navigation__sub-item">
                                <a href="#" class="navigation__sub-link" title="">
                                    <svg class="navigation__sub-link__icon">
                                        <use xlink:href="/assets/images/sprite.svg#icon-tulips"></use>
                                    </svg>
                                    tulips
                                </a>
                            </li>

                        </ul>
                    </nav>
                </li>
                <li class="navigation__item"> <a href="#" class="navigation__link" title="Plants">Plants
                        <svg>
                            <use xlink:href="/assets/images/sprite.svg#icon-keyboard_arrow_down"></use>
                        </svg>
                    </a>
                    <!------------------------------------------------DROP DOWN MENU-->
                    <nav class="navigation__sub-nav">
                        <ul class="navigation__sub-list">
                            <li class="navigation__sub-item">
                                <a href="#" class="navigation__sub-link" title="">
                                    Ornamental Plants
                                </a>
                                <a href="#" class="navigation__sub-link" title="">
                                    Natural Plants
                                </a>
                            </li>
                        </ul>
                    </nav>
                </li>
                <li class="navigation__item"> <a href="#" class="navigation__link" title="Shop All">Shop All

                    </a> </li>
            </ul>
        </nav>

        <!------------------------------------------------HEADER RIGHT SIDE, Profile Picture-->
        <div class="header__right-side">

            <!------------------------------AVATAR-->
            <div class="profile">
                <a href="#" class="profile__drop-down" title="My Account">
                    <img src="assets/images/avatar.png" alt="Profile Picture" class="profile__avatar">
                    <span class="profile__drop-down__burger"><i></i></span>
                </a>
                <!------------------------------DROP DOWN-->
                <div class="drop-down">
                    <ul class="drop-down__menu">
                        <li class="drop-down__item">
                            <a href="#" class="drop-down__link">My Profile</a>
                        </li>
                        <li class="drop-down__item">
                            <a href="#" class="drop-down__link">My Favorite</a>
                        </li>
                        <li class="drop-down__item">
                            <a href="#" class="drop-down__link">My Orders</a>
                        </li>
                        <li class="drop-down__item">
                            <a href="#" class="drop-down__link">Sign in</a>
                        </li>
                    </ul>
                </div>

            </div>

            <!------------------------------SEARCH-->
            <div class="search" id="search">
                <a href="#search-popup" title="Search">
                    <svg>
                        <use xlink:href="/assets/images/sprite.svg#icon-search"></use>
                    </svg>
                </a>
            </div>

            <!------------------------------Favorite-->
            <div class="fav">
                <a href="#" title="My Favorite">
                    <svg>
                        <use xlink:href="/assets/images/sprite.svg#icon-heart-outline"></use>
                    </svg>
                </a>
            </div>

            <!------------------------------SHOPPING CART-->
            <div class="cart">
                <a title="My Cart">
                    <span class="cart__number active">5</span>
                    <span class="cart__icon">
                        <svg>
                            <use xlink:href="/assets/images/sprite.svg#icon-shopping-cart"></use>
                        </svg>
                    </span>
                </a>
                <!------------------------------DROP DOWN SHOPPING CART-->
                <div class="drop-down-cart">
                    <!-----EMPTY CART-->
                    <div class="drop-down-cart__empty">
                        <svg>
                            <use xlink:href="/assets/images/sprite.svg#icon-shopping-cart"></use>
                        </svg>
                        Sorry, Nothing in cart
                    </div>
                    <!------------------------------CART ITEMS-->
                    <div class="drop-down-cart__items">
                        <!--Total-->
                        <div class="drop-down-cart__items-total">
                            <span class="drop-down-cart__items-total--text">Total</span>
                            <strong class="drop-down-cart__items-total--price">EGP300.00</strong>
                        </div>
                        <div class="drop-down-cart__items__item">
                            <img src="/assets/images/flower1.jpg" alt="" class="drop-down-cart__items__item-image">
                            <div class="drop-down-cart__items__item-info">
                                <h4 class="head-4 drop-down-cart__items__item-info--title">
                                    <a routerLink="/flower/4">Product Name</a>
                                </h4>
                                <strong class="drop-down-cart__items__item-info--price">
                                    EGP200.00
                                </strong>
                            </div>
                            <a href="" class="drop-down-cart__items__item-delete" title="Delete">X</a>

                        </div>

                        <div class="drop-down-cart__items__item">
                            <img src="/assets/images/flower1.jpg" alt="" class="drop-down-cart__items__item-image">
                            <div class="drop-down-cart__items__item-info">
                                <h4 class="head-4 drop-down-cart__items__item-info--title">
                                    <a routerLink="/flower/4">Product Name</a>
                                </h4>
                                <strong class="drop-down-cart__items__item-info--price">
                                    EGP200.00
                                </strong>
                            </div>
                            <a href="" class="drop-down-cart__items__item-delete" title="Delete">X</a>

                        </div>

                        <div class="drop-down-cart__items__item">
                            <img src="/assets/images/flower1.jpg" alt="" class="drop-down-cart__items__item-image">
                            <div class="drop-down-cart__items__item-info">
                                <h4 class="head-4 drop-down-cart__items__item-info--title">
                                    <a routerLink="/flower/4">Product Name</a>
                                </h4>
                                <strong class="drop-down-cart__items__item-info--price">
                                    EGP200.00
                                </strong>
                            </div>
                            <a href="" class="drop-down-cart__items__item-delete" title="Delete">X</a>

                        </div>
                        <a routerLink="/cart" class="btn btn--primary">View Cart (3)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------------------------------------------------------Responsive Navigation-->
<div class="nav-res">
    <input type="checkbox" class="nav-res__checkbox" id="navi-toggle">
    <label for="navi-toggle" class="nav-res__btn">
        <span class="nav-res__btn__icon"></span>
    </label>
    <div class="nav-res__bg">&nbsp;</div>
    <nav class="nav-res__menu">
        <ul class="nav-res__list">
            <li class="nav-res__item"><a href="#" class="nav-res__link"><span>01</span> New Arrivals</a></li>
            <li class="nav-res__item"><a href="#" class="nav-res__link"><span>02</span> Categories</a></li>
            <li class="nav-res__item"><a href="#" class="nav-res__link"><span>03</span> Flowers</a></li>
            <li class="nav-res__item"><a href="#" class="nav-res__link"><span>04</span> Plants</a></li>
            <li class="nav-res__item"><a href="#" class="nav-res__link"><span>05</span> Shop All</a></li>
        </ul>
    </nav>
</div>