<!------------------------------------------------CURSOR-->

<h3 class="head--btn cursor__head">
  <span>Our Best Seller</span>
  <i></i>
  <a href="#" class="btn btn--black">View all</a>
</h3>

<!-------------- P P R O D U C T S  C A R D S ------------------>
<div class="products">
  <!-------------- C A R D ------------------>
  <app-product-card class="products__card"></app-product-card>
   <!-------------- C A R D ------------------>
   <app-product-card class="products__card"></app-product-card>
    <!-------------- C A R D ------------------>
  <app-product-card class="products__card"></app-product-card>
</div>
